input{
    margin-bottom: 10px;
    margin-top: 10px;
    
}

button {
    background-color: #0070f3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

div{
    justify-items: center;
}