#card {
    --bg-card: #3b3b4d;
    --primary: #28cad9;
    --primary-800: #1d9587;
    --primary-shadow: #106561;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    width: 16rem; /* Ajusta el tamaño de las tarjetas */
    background-color: var(--bg-card);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  

  /* Contenedor de todas las tarjetas */
#catalog-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente línea si no caben */
    gap: 1rem; /* Espacio entre tarjetas */
    justify-content: center; /* Alinearlas al centro */
    align-items: flex-start; /* Alinear las tarjetas arriba */
  }
  
  #image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #image_container img {
    width: 100%;  /* Que la imagen ocupe todo el ancho */
    height: 100%; /* Que la imagen ocupe toda la altura */
    /*object-fit: cover; /* Ajusta la imagen sin deformarla */
  }
  
  #title {
    overflow: clip;
  
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--zinc-800);
    text-align: center;
    text-transform:capitalize;
    text-wrap: nowrap;
  }
  
  #size {
    border-radius: 0%;
    text-align: justify;
    font-size: 0.75rem;
    color: var(--zinc-800);
  }
  
  #moreless{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    text-align:center;
    display: flex;
  }
  
  #action {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    display: grid;
    align-items: center;
    gap: 1rem;
  }
  
  #price {
    
    color: var(--zinc-800);
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
  }
  
  #cart-button {
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  
    padding: 0.5rem;
    width: 100%;
    background-image: #0070f3;
  
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
  
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
  